* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right top, #111712, #1a2219, #232e1f, #2f3924, #3c4528);
    background-repeat: no-repeat;
    background-size: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}